/* Global Styles */
* {
    background-color: #221f1d;
    color: #d5d1cf;
    font-family: "Roboto Mono", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #D4770C;
    transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
    text-decoration: underline;
}

h2 {
    padding: 5px 0;
}

/* Accent Styling */
strong {
    font-weight: bold;
    color: #D4770C;
}

em {
    font-style: italic;
    color: #D4770C;
}

u {
    text-decoration-color: #D4770C;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 10px;
}

.main-container > section {
    flex-shrink: 1;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    height: calc(100vh - 160px);
    margin-top: 70px;
}

.header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    z-index: 999;
    padding: 10px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #2a2725;
    padding: 10px;
}

.sidebar a {
    flex-grow: 1; 
    text-align: center;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    width: 100%;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a:hover {
    color: #ffae42;
    text-shadow: 0 0 8px rgba(255, 174, 66, 0.8);
}

.resume-btn {
    background: #D4770C;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.1em;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.resume-btn:hover {
    background-color: #b65e0c;
    box-shadow: 0 4px 10px rgba(255, 165, 0, 0.5);
}

.content {
    grid-area: content;
    overflow-y: auto;
    padding: 10px;
    line-height: 1.5;
}

.skills-grid, .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px
}

.skill, .project {
    background: #444;
    padding: 10px;
    border-radius: 6px;
    font-size: 1em;
    color: #D4770C;
    text-align: center;
    max-width: 400px;
    transition: transform 0.3s ease-in-out, background 0.3s;
}

.skill:hover {
    transform: scale(1.05);
    background: #555;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
    transition: opacity 0.3s, transform 0.3s;
}

.project img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;

    background: #333;
    color: #D4770C;
    font-size: 1.1em;
    padding: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}


/* Table Styles */
table {
    width: 80%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #D4770C;
    padding: 4px;
    text-align: center;
}

th {
    background: #333;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

ul li::marker {
    color: #D4770C;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1f1c1a;
}

::-webkit-scrollbar-thumb {
    background: #141210;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D4770C;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .grid-container {
        grid-template-areas:
            "header"
            "content"
            "sidebar"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
    }

    .sidebar {
        position: static;
        width: 100%;
        flex-direction: row;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 10px;
        font-size: 1em;
    }

    .sidebar {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .resume-btn {
        font-size: 0.9em;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        flex-direction: column;
        align-items: center;
    }

    .skill, .project {
        width: 100%;
    }
}
